<p id="notice"><%= notice %></p>

<h1>Documentos</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Visita</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <% visit = Visit.find(document.visitId) %>
        <td><%= Company.find(visit.id).name + ' ' + visit.visitDate.to_formatted_s(:short)  + ' ' + VisitType.find(visit.visitTypeId).name%></td>
        <td><%= document.name %></td>
        <td><%= link_to 'Descargar', document.images.url(:original, false) %></td>
        <td><%= link_to 'Editar', edit_document_path(document) %></td>
        <td><%= link_to 'Eliminar', document, method: :delete, data: { confirm: 'Esta Ud seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
