<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/tablefilter.js"></script>
<script src="/datatables.min.js"></script>

<script>
  $( document ).ready(function() {
    $('#table1').tableFilter({

      // input field to filter table rows
      'input' : 'input[type=search]',

      // trigger events and elements
      'trigger': {
        
        "event"   : "keyup", 
        'element'   : undefined 
      },

      // case sensitive
      'caseSensitive' :  false,
      
      // enable table sort
      'sort'  : true, 

      // not found element
      // e.g. notFoundElement : ".not-found"
      'notFoundElement' : null,
      
    });
  });  
      $(document).ready( function() {
  $('#table1').dataTable( {
    "iDisplayLength": 50,
      "searching": false,
              "paging": true,
        "lengthMenu": [[50, 75, 100, -1], [50, 75, 100, "Todas"]],
      } );
} )
</script>

<p id="notice"><%= notice %></p>

<h1>Vencimientos</h1>

<input type="search" placeholder="Filtrar ...">  <%= "Puede buscar por Cliente, Profesional y Estudio" %>
</br>
</br>

<button class="pure-button pure-button-active"><%= link_to 'Nuevo Vencimiento', new_expiration_path %></button>
</br>
<br>
<table class="pure-table pure-table-horizontal" id="table1">
  <thead>
    <tr style="vertical-align: middle" >
      <th  align="center">Cliente</th>
      <th WIDTH="100" align="center">Profesional</th>
      <th align="center">Estudio</th>
      <th WIDTH="100" align="center">Fecha de Inicio</th>
      <th align="center">Fecha de Finalizacion</th>
      <th align="center">Estado</th>
      <th colspan="3" align="center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @expirations.each do |expiration| %>
      <tr height="100" bgcolor="<%= bgcolor_condition_status(expiration.status)%>"
      style="<%= txtcolor_condition_status(expiration.status)%>";>
      <%if expiration.status == "Vencido" || expiration.status == "Vigente Sin fecha" %>
          <td align="center"><%= link_to expiration.company.name + " - " +  expiration.company.addressDirection + " " + expiration.company.addressNumber, expiration.company, {:style=>'color:#ebebeb;'} %></td>

          <td align="center"><%= link_to expiration.employee.name + " " + expiration.employee.surname, expiration.employee, {:style=>'color:#ebebeb;'}%></td>

          <td align="center"><%= link_to expiration.study.name, expiration.study, {:style=>'  color:#ebebeb;'}%></td>

          <td align="center"><%= expiration.start_date %></td>

          <%if expiration.status == "Vigente Sin fecha" %>
           <td align="center"><%= expiration.end_date = "  " %></td>
          <% else %>
          <td align="center"><%= expiration.end_date  %>
          <%end%>
          <td align="center"><%= expiration.status %></td>

          <td><%= link_to 'Ver Detalles', expiration, {:style=>'color:#ebebeb;'} %></td>

          <td><%= link_to 'Editar', edit_expiration_path(expiration), {:style=>'color:#ebebeb;'} %></td>

          <td><%= link_to 'Eliminar', expiration, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %></td>

        <% else %>
            <td align="center"><%= link_to expiration.company.name + " - " +  expiration.company.addressDirection + " " + expiration.company.addressNumber, expiration.company %></td>
            <td align="center"><%= link_to expiration.employee.name + " " + expiration.employee.surname, expiration.employee %></td>
            <td align="center"><%= link_to expiration.study.name, expiration.study %></td>
            <td align="center"><%= expiration.start_date %></td>
            <td align="center"><%= expiration.end_date %></td>
            <td align="center"><%= expiration.status %></td>
            <td><%= link_to 'Ver Detalles', expiration %></td>
            <td><%= link_to 'Editar', edit_expiration_path(expiration) %></td>
            <td><%= link_to 'Eliminar', expiration, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %>
          
        <%end%>
        


      </tr>
    <% end %>
  </tbody>
</table>