<p id="notice"><%= notice %></p>

<% if @expiration.status == "Antiguo" %>
 <button class="pure-button pure-button-active" style="float: right"><%= link_to 'Clonar', copy_expiration_path(params[:id])%></button>
<% end %>

<button class="pure-button pure-button-active"><%= link_to 'Editar', edit_expiration_path(@expiration) %></button> 
&nbsp; | &nbsp; 
<button class="pure-button pure-button-active"><%= link_to 'Regresar al Listado', "/expirations" %></button>
 &nbsp; | &nbsp; 
<button class="pure-button pure-button-active"><%= link_to 'Eliminar', @expiration, method:  :delete, data: { confirm: 'Esta Ud Seguro?' } %></button>




</br></br>
<style> .example-table td {   padding: 3px} </style>
<table width="100%" class="pure-table pure-table-horizontal" >
<thead> <tr> <th><strong><em>Info general</em></strong></th></tr></thead>
<tbody>
  <tr>
  <tr><td><strong>Cliente: </strong>
    <%= @expiration.company.name + " - " + @expiration.company.addressDirection + " " + @expiration.company.addressNumber%>
    <button class="pure-button pure-button" style="float: right"><%= link_to 'Ir', @expiration.company %></button> 

  </td></tr> 
  
    <tr class="pure-table-odd">
    <td><strong>Profesional: </strong>
      <%=@expiration.employee.name + " " + @expiration.employee.surname %>
      <button class="pure-button pure-button" style="float: right"><%= link_to 'Ir', @expiration.employee %></button> 
</td></tr>

  <tr><td><strong>Estudio:</strong><%= @expiration.study.name %>

 </td></tr>
</tbody>
</table>


<style> .example-table td {   padding: 3px} </style>
<table width="100%" class="pure-table pure-table-horizontal" >
<thead> <tr> <th><strong><em>Fechas</em></strong></th></tr></thead>
<tbody>

  <tr><td><strong>Fecha de Inicio:</strong>             <%= @expiration.start_date %></td></tr>
  <tr><td><strong>Fecha de Finalizacion:</strong>            <%= @expiration.end_date %></td></tr>
  <tr class="pure-table-odd">
      <td><strong>Estado:</strong><%= @expiration.status %></td>
  </tr>
</tbody>
</table>
</table>
  <dl><strong>Comentario:</strong>              <%= @expiration.comments %></dl>